* {
    border: 1px solid black;
    text-align: center;
}

:root {
    --szknappar: 3rem;
}

.hela {
    height: 100vh;
}

body {
    margin: 0;
}

.icon {
    background-color: red;
    display: grid;
    justify-content: center;
}

.rubrik {
    font-size: 2rem;
}

.bilden {
    max-width: 35rem;
    max-height: 35rem;
}

.wrapper {
    border: 10px solid green;
    height: 15rem;
}

.boxInfo {
    background-color: red;
    display: flex;
    justify-content: space-between;
    height: 100%;
}


@media all and (max-width:700px) {
    .boxInfo {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.styreTider {
    background-color: yellow;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    justify-content: space-evenly;
}

.tider {
    height: var(--szknappar);
    display: flex;
    justify-content: center;
    align-items: center;
}

.styrelse {
    height: var(--szknappar);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tränaavgifter {
    background-color: pink;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.avgifter {
    height: var(--szknappar);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tränare {
    height: var(--szknappar);
    display: flex;
    justify-content: center;
    align-items: center;
}