* {
    border: 1px solid black;
    text-align: center;
}

.hela {}

.icon {
    background-color: red;
    display: flex;
    justify-content: center;
}

.bilden {
    width: 40rem;
    height: 40rem;
}

.boxInfo {
    background-color: red;
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
}


@media all and (max-width:700px) {
    .boxInfo {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.styreTider {
    background-color: yellow;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.tider {
    height: 2rem;
}

.styrelse {
    height: 2rem;
}

.tränaavgifter {
    background-color: pink;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.avgifter {
    height: 2rem;
}

.tränare {
    height: 2rem;
}